@model Article

@{
    ViewBag.Title = "Add";
    string backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.OriginalString : "/backmgr/home";
}

<style>
    .titleContainer {
        margin: 20px auto;
    }

    .title {
        font-weight: bold;
        margin-right: 20px;
        font-size: large;
    }

    .addtitle {
        width: 100%;
        height: 30px;
        margin: 5px 0px;
        padding: 5px;
    }

    textarea {
        width: 100%;
    }

    .handleContainer {
        position: fixed;
        bottom: 50%;
        z-index: 999;
        background-color: green;
        left: 31px;
        padding: 20px;
    }

    .handlearea {
        
    }

    .savebtn {
        margin-right: 50px;
    }

    .msg {
        margin-top: 10px;
        font-size: small;
        color: red;
    }
</style>


<div class="titleContainer">
    <span class="title">@(ViewBag.IsNew ? "新增文章" : "编辑文章")</span>
    <a href="@backUrl">返回</a>
</div>


<input type="hidden" id="articleId" name="articleId" value="@(ViewBag.IsNew ?  "" : Model.ArticleId.ToString() )" />
<input type="hidden" id="contentHidden" value="@Model.Content" />

题目：
<br />
<input type="text" name="title" value="@Model.Title" class="addtitle" id="title" />

内容：
<br />
<script id="caseContent" name="caseContent" type="text/plain" style="width:100%;height:400px;margin-top:5px;">
</script>

<div class="handleContainer">
    <div class="handlearea">
        <button type="button" class="savebtn" id="btnSave">保存</button>
        <button type="button" id="btnSavePreview">保存并预览</button>
    </div>

    <div class="msg" id="msg">
        &nbsp;
    </div>
</div>

@Html.AntiForgeryToken()

@section footer{

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/ueditor/js")
    @Scripts.Render("~/Scripts/ueditor/lang/zh-cn/zh")

    <script>
        $(function () {

            var articleId = $("#articleId").val();

            function isEdit() {
                return articleId;
            }

            var ue = "";
            initUEditor();

            function initUEditor() {
                if (!ue) {
                    ue = UE.getEditor('caseContent');
                }
            }

            $("#btnSave").click(function () {
                save();
            });

            $("#btnSavePreview").click(function () {
                save(function (id) {
                    window.open("/Home/Detail/" + id, "_blank");
                });
            });

            function save(callback) {
                var data = {};
                data.title = $("#title").val().trim();
                if (ue)
                    data.content = ue.getContent();

                if (!validateData(data))
                    return;

                data.ArticleId = articleId;

                $.ajax({
                    type: "Post",
                    url: "/backmgr/Article/Add",
                    data: AddAntiForgeryToken(data),
                    success: function (result) {
                        if (result.code == 200) {
                            showMsg('保存成功');
                            setTimeout(function () { showMsg("&nbsp;"); }, 1000);
                            if (callback) callback(result.id);
                        } else {
                            showMsg(result.msg);
                        }
                    },
                    error: function (msg) {
                        alert(msg);
                    }

                });
            }

            function validateData(data) {
                //todo:
                return true;
            }

            function showMsg(msg) {
                $('#msg').html(msg);
            }

            if (isEdit()) {
                ue.ready(function () {
                    ue.setContent($("#contentHidden").val());
                });
            }

            //定时保存
            setInterval(function () {
                save(function (id) {
                    articleId = id;
                });
            }, 1000 * 30);

            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        });
    </script>
}