@model Blog.Models.Article
@{
    ViewBag.Title = Model.Title;
    string backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.OriginalString : "/";

    if (Blog.Common.BrowserHelper.IsPhone())
    {
        Layout = "~/Views/Shared/_mLayout.cshtml";
    }
}

@section header{
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/prettify/r298/prettify.min.css">
    @if (Blog.Common.BrowserHelper.IsPhone())
    {
        @Styles.Render("~/Content/mdetail")
    }
    else
    {
        @Styles.Render("~/Content/detail")
    }
}
<div class="content">
    <div class="detail-nav">
        <a href="@backUrl">返回</a>
    </div>

    @if (Model == null)
    {
        <h2>文章不存在</h2>
    }
    else
    {
        <div class="detail-title">
            <h2>@Model.Title</h2>
            <div>@Model.DisplayCreatedTime</div>
        </div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    }

</div>
@section footer{
    <script type="text/javascript" src='http://cdn.bootcss.com/prettify/r298/prettify.min.js'></script>
    <script type="text/javascript" src='~/Scripts/prettify.load.js'></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function () {

            $('pre').each(function () {
                var item = $("<div style='color:blue;cursor:pointer;margin-bottom:-12px;'>折叠</div>");
                item.click(function () {
                    var val = item.html();
                    if (val == "折叠") {
                        item.next().hide();
                        item.html("展开");
                    } else {
                        item.next().show();
                        item.html("折叠");
                    }
                });
                $(this).before(item);
            });
        });
    </script>
}

