@model Blog.Models.Article
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.KeyWords;
    string backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.OriginalString : "/";

    if (Blog.Common.BrowserHelper.IsPhone())
    {
        Layout = "~/Views/Shared/_mLayout.cshtml";
    }
}

@section header{
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/prettify/r298/prettify.min.css">
    @if (Blog.Common.BrowserHelper.IsPhone())
    {
        @Styles.Render("~/Content/mdetail")
    }
    else
    {
        @Styles.Render("~/Content/detail")
    }
}
<div class="content">
    <div class="detail-nav">
        <a href="@backUrl">返回</a>
    </div>

    @if (Model == null)
    {
        <h2>文章不存在</h2>
    }
    else
    {
        <div class="detail-title">
            <h2>@Model.Title</h2>
            <div>@Model.DisplayCreatedTime</div>
        </div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    }
</div>
<div>
    <div class="qrcodeContainer">
        <div>扫码分享</div>
        <div id="qrcode" style=""></div>
    </div>    
</div>
@section footer{
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/erweima/js")
    <script type="text/javascript" src='http://cdn.bootcss.com/prettify/r298/prettify.min.js'></script>
    <script type="text/javascript" src='~/Scripts/prettify.load.js'></script>   
    <script>
        $(function () {

            $('pre').each(function () {
                var item = $("<div style='color:blue;cursor:pointer;margin-bottom:-12px;font-size:14px;'>折叠</div>");
                item.click(function () {
                    var val = item.html();
                    if (val == "折叠") {
                        item.next().hide();
                        item.html("展开");
                    } else {
                        item.next().show();
                        item.html("折叠");
                    }
                });
                $(this).before(item);
            });
            var url = location.href;
            $("#qrcode").qrcode({
                render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
                text: url,    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
                width : "106",               //二维码的宽度
                height: "106",              //二维码的高度
                background : "#ffffff",       //二维码的后景色
                foreground: "#07a0e1",        //二维码的前景色
                src: ''             //二维码中间的图片
            });
        });
    </script>
}

