@{
    ViewBag.Title = "首页";
}



@section header{
    @Styles.Render("~/Content/index")
}

<div class="indexcontainer">
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
    <a href="#" title="Vue学习 - 概览">
        <div class="record">
            Vue学习 - 概览
            <span class="date">@DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>
    </a>
</div>