@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "首页";
}



@section header{
    @Styles.Render("~/Content/index")
}

<div class="indexcontainer">
    @if (Model == null)
    {
        <div class="record">
            暂无数据
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Detail","Home", new { id=item.ArticleId} )" title="@item.Title">
                <div class="record">
                    <span>@item.Title</span>
                    <span class="date">@item.DisplayCreatedTime.ToString("yyyy-MM-dd")</span>
                </div>
            </a>
        }
    }
   
</div>